@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&display=swap');


* {
	box-sizing: border-box;
}

body, h1, h2, p, a, ul, li, blockquote {
	padding:0;
	margin:0;
}
body {
	font-family: "Nunito", Arial, Helvetica, sans-serif;
	color: #e0e0e0;
	background: #171717;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
img {
	display: block;
	max-width: 100%;
}
.titulo {
	font-size: 1.5em;
	padding: 2.25rem 0;
}
.titulo::before {
	content: "";
	display: inline-block;
	width: 70px;
	height: 3px;
	background-color: #e0e0e0;
	margin: 10px 10px 8px 0;
}

.superinfo-bg {
	background: #0f0f0f;
	color: #e0e0e0;
}
.superinfo {
	max-width: 1120px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 10px;
}

.superinfo a, .superinfo p{
	padding: 0 10px 10px 10px;
}

.superinfo a {
	color: #e0e0e0;
}

.menu-bg {
	background: #000000;
}

.menu {
	max-width: 1120px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 26px 10px;
	
}

.menu-logo a{
	position: relative;
	color: #e0e0e0;
	font-size: 2.5em;
	font-weight: bold;
	transition: .6s;
}

.menu-items ul {
	display: flex;
	flex-wrap: wrap;
}
.menu-items a {
	color: #e0e0e0;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1rem;
	display: block;
	padding: 16px 10px;
	transition: .6s;
}

.menu-items a:hover, .menu-logo a:hover {
	color: #d15915;
	transition: .6s;
}

.introducao-bg {
	background: #000000;
}
.introducao {
	min-height: 50vh;
	max-width: 1120px;
	margin: 0 auto;
	padding: 30px 10px;
}
.center {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap-reverse;
}
.naruto-frase {
	max-width: 420px;
	margin: 0 10px;
	flex: 1 1 300px;
	padding: 20px 30px;
}
.naruto-frase h1{
	text-transform: uppercase;
	font-size: 2rem;
}

.naruto-frase p{
	font-size: 1em;
}
.naruto-frase cite{
	font-size: 1.30em;
}

.naruto-frase h1::after, .naruto-frase p::after {
	content: "";
	display: block;
	width: 140px;
	height: 3px;
	background-color: #e0e0e0;
	margin: 8px 0 10px 0;
}

.banner {
	max-width: 420px;
	flex: 1 2 220px;
}


.noticia {
	display: flex;
	max-width: 1120px;
	min-height: 60vh;
	margin: 0 auto;
	padding: 0 10px;
	flex-wrap: wrap-reverse;
}

.noticia-imagem{
	flex: 1 2 250px;
	padding: 0 10px;
}
.noticia-imagem img {
	border-radius: 10px;
	margin-bottom: 20px;
}

.noticia-texto {
	max-width: 600px;
	flex: 1 2 400px;
	padding: 0 10px;
}

.noticia-texto h2::after {
	content: "";
	display: block;
	width: 140px;
	height: 3px;
	background-color: #e0e0e0;
	margin: 8px 0 10px 0;
}

.noticia-texto p{
	margin-bottom: .7em;
	line-height: 1.5rem;
}

.noticia-texto a {
	color: #d15915;
}

.destaques-bg {
	margin-top: 5.5em;
	background:#272727;
	padding-bottom: 40px;
}

.card-list {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
}
.card-list p {
	padding: 10px;
}
.card-list li {
	text-align: center;
	flex: 1 1 250px;
	max-width: 270px;
	margin: 0 12px 10px 12px;
}
.card-list img {
	border-radius: 10px;
}
.newsletter-bg {
	margin-top: 4em;
	background: #272727;
}
.newsletter {
	max-width: 1120px;
	margin: 0 auto;
	padding: 60px 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.newsletter-block {
	max-width: 520px;
	flex: 1 1 200px;
	margin: 0 10px;
}
.newsletter-block h1 {
	font-size: 2em;
}

.newsletter-block p {
	font-size: 1.25em;
	font-style: italic;
	margin-bottom: 10px;
}

.newsletter-email {
	flex: 1 1 260px;
	margin: 0 10px;
	align-self: center;
	display: flex;
	flex-wrap: wrap;
}
.newsletter-email input {
	flex: 3 1 260px;
	font-size: 1.25em;
	color: #0f0f0f;
	font-style: italic;
	font-family: nunito, Arial, Helvetica, sans-serif;
	border: 4px solid #171717;
	background: #c4c4c4;
	outline: none;
	padding: 15px 10px;
	margin: 0px;
	border-radius: 0px;
}

.newsletter-email button {
	flex: 1 1 260px;
	font-family: nunito, Arial, Helvetica, sans-serif;
	font-size: 2.25em;
	font-weight: bold;
	text-transform: uppercase;
	background: #171717;
	color: white;
	margin: 0px;
	cursor: pointer;
	border: 0px;
	padding: 15px 10px;
}

.sobre-bloco {
	max-width: 1120px;
	min-height: 80vh;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.konoha-bloco {
	max-width: 500px;
	padding: 0 10px;
	flex: 1 1 450px;
}

.konoha-bloco p {
	font-size: 1rem;
	margin-bottom: 10px;
}

.konoha {
	display: flex;
	align-items: flex-start;
	flex: 1 1 300px;
}
.konoha-imagem {
	margin: .7em 0;
	padding: 0 .7rem;
}